/* Tailwind CSS */
@import "tailwindcss";

@theme
{
  /* ====  Blue Color ===== Background Color -  */
  --color-blue-50: #ebfffe;
  --color-blue-100: #ccffff;
  --color-blue-200: #a0fdff;
  --color-blue-300: #5ef9ff;
  --color-blue-400: #16eafa;
  --color-blue-500: #00cde0;
  --color-blue-600: #00a3bc;
  --color-blue-700: #068c9f;
  --color-blue-800: #0f687b;
  --color-blue-900: #115568; 
  --color-blue-950: #043948; 


  /* === Breakpoints (responsive sizes) === */
  --breakpoint-xs: 400px;   /* Extra Small devices (mobile) */
  --breakpoint-sm: 576px;   /* Small devices (mobile) */
  --breakpoint-md: 768px;   /* Medium devices (tablet) */
  --breakpoint-lg: 992px;  /* Large devices (laptop) */
  --breakpoint-xl: 1200px;  /* Extra large screens */
  --breakpoint-2xl: 1440px; /* 2X large screens */

  /* ===== Fonts ==== */

  --font-neuton: "Neuton", serif;
  --font-merienda: "Merienda", cursive;

}



html 
{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after
{
  box-sizing: inherit;
}

body
{
    font-family: "Karla", sans-serif;
}

      /* ======================== Karla Font ========================== */
/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/karla-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/karla-v33-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/karla-v33-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/karla-v33-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

        /* ================== Merienda Font =================== */

/* merienda-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/merienda-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merienda-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/merienda-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

          /* ================== Neuton Font =================== */
/* neuton-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/neuton-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* neuton-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/neuton-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
